label.form-label {
    z-index: 999 !important;
}
label{
    font-weight: bold !important;
}

a.btn.btn-danger.btn-link {
    background: red !important;
    color: white !important;
}

a.btn.btn-warning {
    background: orange;
    color: white !important;
    margin-right: 10px;
}

a.btn.btn-info {
    color: white !important;
    margin-right: 10px;
}

a.btn.btn-success.btn-link {
    background: green !important;
    color: white !important;
    margin-right: 10px;
}

#navbar {
  justify-content: right !important;
}

input#email {
    border: 1px solid;
    padding: 0.5rem;
}

div#DataTables_Table_0_filter {
    display: none !important;
}

div#DataTables_Table_0_processing {
    text-align: center;
}

div#DataTables_Table_0_paginate {
    margin-top: 20px;
    text-align: right;
}

td.dataTables_empty {
    text-align: center;
}

td {
    padding-left: 2% !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    cursor: default;
    color: #666 !important;
    border: 1px solid transparent;
    background: transparent;
    box-shadow: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: .5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    color: #333 !important;
    border: 1px solid transparent;
    border-radius: 2px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #333 !important;
    border: 1px solid #979797;
    background-color: white;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #dcdcdc));
    background: -webkit-linear-gradient(top, white 0%, #dcdcdc 100%);
    background: -moz-linear-gradient(top, white 0%, #dcdcdc 100%);
    background: -ms-linear-gradient(top, white 0%, #dcdcdc 100%);
    background: -o-linear-gradient(top, white 0%, #dcdcdc 100%);
    background: linear-gradient(to bottom, white 0%, #dcdcdc 100%);
}

.bg-gradient-Complete, .bg-gradient-Approve {
    background-image: linear-gradient(195deg, #66BB6A 0%, #43A047 100%);
}

.bg-gradient-Doing ,.bg-gradient-Delivering{
    background-image: linear-gradient(195deg, #49a3f1 0%, #1A73E8 100%);
}

.bg-gradient-Pending {
    background-image: linear-gradient(195deg, #FFA726 0%, #FB8C00 100%);
}

.select2.select2-container.select2-container--default{
    width: 100%!important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 35px !important;
}

.select2-container .select2-selection--single {
    height: 35px !important;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 7px;
}

a.btn.bg-gradient-dark.mb-0 {
    height: 35px;
    line-height: 15px;
}

.form-control{
    padding: 0.5rem !important;
    border: 1px solid #d2d6da !important;
}

.text-red{
    color: red;
}
.close{
    border: 0.5px gray;
}

#modalProductImage {
    max-width: 100%;       /* fits inside container */
    max-height: 300px;     /* adjust modal height */
    width: auto;
    height: auto;
    object-fit: contain;   /* keeps aspect ratio without cropping */
    display: block;
    margin: 0 auto;        /* center image */
}

/* shopping cart page css */


.shop{
    font-size: 10px;
}

.space{
    letter-spacing: 0.8px !important;
}

.second a:hover {
    color: rgb(92, 92, 92) ;
}

.active-2 {
    color: rgb(92, 92, 92)
}


.breadcrumb>li+li:before {
    content: "" !important
}

.breadcrumb {
    padding: 0px;
    font-size: 10px;
    color: #aaa !important;
}

.first {
    background-color: white ;
}

a {
    text-decoration: none !important;
    color: #aaa ;
}

.btn-lg,.form-control-sm:focus,
.form-control-sm:active,
a:focus,a:active {
    outline: none !important;
    box-shadow: none !important
}

.form-control-sm:focus{
    border:1.5px solid #4bb8a9 ;
}

.btn-group-lg>.btn, .btn-lg {
    padding: .5rem 0.1rem;
    font-size: 1rem;
    border-radius: 0;
    color: white !important;
    background-color: #4bb8a9;
    height: 2.8rem !important;
    border-radius: 0.2rem !important;
}

.btn-group-lg>.btn:hover, .btn-lg:hover {
    background-color: #26A69A;
}

.btn-outline-primary{
    background-color: #fff !important;
    color:#4bb8a9 !important;
    border-radius: 0.2rem !important;
    border:1px solid #4bb8a9;
}

.btn-outline-primary:hover{
    background-color:#4bb8a9  !important;
    color:#fff !important;
    border:1px solid #4bb8a9;
}

.card-2{
    margin-top: 40px !important;
}

.card-header{
    background-color: #fff;
    border-bottom:0px solid #aaaa !important;
}

p{
    font-size: 13px ;
}

.small{
    font-size: 9px !important;
}

.form-control-sm {
    height: calc(2.2em + .5rem + 2px);
    font-size: .875rem;
    line-height: 1.5;
    border-radius: 0;
}

.cursor-pointer{
    cursor: pointer;
}

.boxed {
    padding: 0px 8px 0 8px ;
    background-color: #4bb8a9;
    color: white;
}

.boxed-1{
    padding: 0px 8px 0 8px ;
    color: black !important;
    border: 1px solid #aaaa;
}

.bell{
    opacity: 0.5;
    cursor: pointer;
}

@media (max-width: 767px) {
    .breadcrumb-item+.breadcrumb-item {
        padding-left: 0
    }
}
